* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  background-color: bisque;
}
h1 {
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

div {
  background-color: tomato;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  color: white;
  margin-bottom: 10px solid;
}
